<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

        <div class="card">
            <div class="card-header">
                {{>header}}
            </div>

            <div class="card-body">
                <form action="">
                    <input placeholder="location">
                    <button>Search</button>
                </form>

                <div class="display">
                    <p id="message-1"></p>
                <p id="message-2"></p>
                </div>
            </div>

            <div class="card-footer">
                 {{>footer}}
            </div>
        </div>

    <script src="../../js/script.js"></script>

</body>

</html>